{% extends "base_generic.html" %}

{% block content %}
  <h1>{{ author.first_name }} {{ author.last_name }}</h1>
  <p><strong>Born:</strong> {{ author.date_of_birth }}</p>
  <p><strong>Died:</strong> {% if author.date_of_death %} {{ author.date_of_death }} {% else %} Still Alive {% endif %}</p>

  <h2>Books by this Author</h2>
  <ul>
    {% for book in author.book_set.all %}
      <li><a href="{% url 'book-detail' book.id %}">{{ book.title }}</a></li>
    {% empty %}
      <li>No books available.</li>
    {% endfor %}
  </ul>
{% endblock %}


{% block sidebar %}
  {{ block.super }}

  {% if perms.catalog.change_author or perms.catalog.delete_author %}
  <hr>
  <ul class="sidebar-nav">
    {% if perms.catalog.change_author %}
      <li><a href="{% url 'author-update' author.id %}">Update author</a></li>
    {% endif %}
    {% if not author.book_set.all and perms.catalog.delete_author %}
      <li><a href="{% url 'author-delete' author.id %}">Delete author</a></li>
    {% endif %}
    </ul>
  {% endif %}

{% endblock %}
